body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('../img/bg.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
form{
  vertical-align: center;
}
input[type=text]{
  background: transparent;
  border :none;
  color: white;
  text-align: center;
  outline-color: grey;
  margin-top: 4px;

}

select{
  background: transparent;
  border :white;
  color: white;
  text-align: center;
  outline-color: grey;
  border: 1px solid white;
  padding: 1px;
}
select option {
    background: #6b717a;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;

    padding: 1px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
label{
  color: grey;
}

img{
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.controls{
  background-color: black;
}
.button1 {
    background: transparent;
    color: white;
    border: 1px solid white;
    outline-color: grey;
    margin-top: 4px;

}
