{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

</head>

<title>Ventriloquy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static "css/homepage.css" %}">
<body>




  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">

    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">VENTRILOQUY</h1>

      <div align="center">
      <form action="home/search/" method="get">

      <label for="Person">Select Speaker: </label>
      <select name="Person" id="Person">
      <option value="Obama">Obama</option>
      <option value="Trump">Trump</option>
      </select>

      <br>

      <div id="content">
      <textarea name="Input_text" id="ta" cols="30" placeholder="Click To Enter Text"></textarea>
      </div>



      <hr class="w3-border-grey" style="margin:auto;width:65%">

      <button  class="button button1" value="Submit">Submit</button>
      </form>
      </div>
    </div>
    <div class="w3-display-topright w3-padding-large">
      <a href="{% url 'login' %}">Login</a>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Powered by IBM Watson
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static "js/my.js" %}"></script>
</body>
</html>
