{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/ui.css" %}">
  </head>
  <body style="background: url( {% static "img/background.jpg" %}">
  <h1>Ventriloquy</h1>
    <div>
      <form  name="UserInformationForm" method="GET" action="http://127.0.0.1:8000/home/search/">
            <label for="Input_text">Enter Text: </label>
            <br/>

            <textarea  name="Input_text" ></textarea>

            <br/><br/>
            <input name="BtnSubmit" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
